<%= render 'layouts/ideaheader' %>

<style type="text/css">

.container {
    border-radius: 10px;
}

</style>

<div class="container" style="background:white;">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Idea</th>
                <th>Issue Addressed</th>
                <th>Community</th>
            </tr>
        </thead>

        <tbody>
            <%= render @ideas %>
        </tbody>
    </table>

    <br />
</div>
