<h1>Idea Center</h1>

    <a class="btn btn-success" href="<%= new_idea_path %>">New Idea</a>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type of Idea</th>
                <th>Region</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <%= render @ideas %>
        </tbody>
    </table>

    <br />

