<div id="homeWrapper" style="background-size: 140%; height: 88%; min-height: 88%;">
  <div id="home">
    <div class="content">
      <h1 class="logo ir">
        <span>UP</span>GLOBAL
      </h1>
      <h3 class="sources">
        From Startup Weekend &amp; the Startup America Partnership
      </h3>
      <h2 class="introduction">
        A global partnership that connects entrepreneurs with their
        communities and the resources they need most.
      </h2>
  </div>
</div>